<!doctype html>
<html lang="en-US" itemscope itemtype="http://schema.org/WebPage">
<head>
    {% block head %}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% if build_environment == "production" %}
    <base href="https://{{ base_hostname }}" target="_self" />
    {% endif %}

    <!-- PREX -->
    <link rel="preload" href="/_static/font/noto/noto-emoji.ttf" as="font" type="font/ttf">
    <link rel="preload" href="/_static/font/noto/noto-mono-100.ttf" as="font" type="font/ttf">
    <link rel="preload" href="/_static/font/noto/noto-mono-300.ttf" as="font" type="font/ttf">
    <link rel="preload" href="/_static/font/noto/noto-mono-500.ttf" as="font" type="font/ttf">
    <link rel="preload" href="/_static/font/noto/noto-mono-700.ttf" as="font" type="font/ttf">
    <link rel="preload" href="/_static/font/noto/noto-mono-900.ttf" as="font" type="font/ttf">
    <link rel="preload" href="/_static/font/noto/noto-sans-100.ttf" as="font" type="font/ttf">
    <link rel="preload" href="/_static/font/noto/noto-sans-100i.ttf" as="font" type="font/ttf">
    <link rel="preload" href="/_static/font/noto/noto-sans-300.ttf" as="font" type="font/ttf">
    <link rel="preload" href="/_static/font/noto/noto-sans-300i.ttf" as="font" type="font/ttf">
    <link rel="preload" href="/_static/font/noto/noto-sans-500.ttf" as="font" type="font/ttf">
    <link rel="preload" href="/_static/font/noto/noto-sans-500i.ttf" as="font" type="font/ttf">
    <link rel="preload" href="/_static/font/noto/noto-sans-700.ttf" as="font" type="font/ttf">
    <link rel="preload" href="/_static/font/noto/noto-sans-700i.ttf" as="font" type="font/ttf">
    <link rel="preload" href="/_static/font/noto/noto-sans-900.ttf" as="font" type="font/ttf">
    <link rel="preload" href="/_static/font/noto/noto-sans-900i.ttf" as="font" type="font/ttf">
    {% block page_prex %}{% endblock %}

    <!-- NORMALIZE -->
    <link href="{{ path_static }}/style/normalize.css" rel="stylesheet" />

    <!-- TYPEFACE -->
    <link href="{{ path_static }}/font/noto/noto-mono.css" rel="stylesheet" />
    <link href="{{ path_static }}/font/noto/noto-sans.css" rel="stylesheet" />
    <link href="{{ path_static }}/style/base-typeface.css" rel="stylesheet" />
    {% block page_typeface %}{% endblock %}

    <!-- ICONS -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet" />
    {% block page_icons %}{% endblock %}

    <!-- LAYOUT -->
    <link href="{{ path_static }}/style/base-layout.css" rel="stylesheet" />
    {% block page_layout %}{% endblock %}

    <!-- STYLE -->
    <link href="{{ path_static }}/style/base-style.css" rel="stylesheet" />
    {% block page_style %}{% endblock %}

    <title>{% block page_title %}bloop{% endblock %}</title>

    {% endblock %}
</head>
<body>
    {% block body %}

    {% block content %}{% endblock %}

    <footer>
        <p>&copy; Copyright 2024-present ShineyDev</p>
    </footer>

    {% endblock %}
</body>
</html>
